<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${mensaje}"></h1>
        <br/>
        <div th:if="${personas != null and !personas.empty}">
            <table>
                <tr>
                    <th>Nombre</th>
                </tr>
                <tr th:each="persona: ${personas}">
                    <td th:text="${persona.nombre}">Muestra nombre</td>
                </tr>
            </table>
        </div>
    </body>
</html>
